//VARIABLES

$color-primary: hsl(257, 40%, 49%);
$color-secondary: hsl(300, 69%, 71%);

$font-main: "Poppins", sans-serif;
$font-sub: "Open Sans", sans-serif;

//BREAK POINTS

$bp-large: 90em; //1440px

//STYLE

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //10px

  @media only screen and (min-width: $bp-large) {
    font-size: 87.5%; //14px
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  background-image: url("../images/bg-mobile.svg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $color-primary;

  @media only screen and (min-width: $bp-large) {
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
    height: 100vh;
  }
}
