//TYPOGRAPHY
.heading-primary {
  text-align: center;

  @media only screen and (min-width: $bp-large) {
    text-align: initial;
    padding: 0 5rem;
  }


  &--main {
    display: block;
    font-family: $font-main;
    font-weight: 600;
    font-size: 2.5rem;
    color: #fff;

    padding-bottom: 3rem;
  }

  &--sub {
    font-family: $font-sub;
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
  }
}

//CTA BUTTON

.btn {
  display: inline-block;
  color: $color-primary;
  padding: 1rem 9rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 .3rem .3rem rgba(#000,.4);
  margin-top: 3rem;
  cursor: pointer;
  &:link,
  &:visited {
    font-family: $font-sub;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
  }
}


//ICONS

.fab {
width: 1rem;
padding-left: .1rem;
}


//GRID

.main-grid {
  @media only screen and (min-width: $bp-large) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
  }
}
