//HEADER SECTION
.header {
  &__logo {
    width: 40%;
  }
}

//HERO SECTION
.section__hero {
  &-image {
    width: 100%;
    margin: 0 auto;

    padding: 6rem 0;
  }
}

//CTA SECTION

.section-cta {
  text-align: center;
}

//FOOTER SECTION

.footer {
  &__icon-list {
    display: flex;
    justify-content: center;

    margin: 5rem 0;
  }

  &__items {
    list-style-type: none;
    margin-top: 3rem;
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }



  &__link,
  &:link,
  &:visited {
    text-decoration: none;
    color: white;
    border-radius: 50%;
    border: 0.5px solid white;
    padding: 0.5rem 0.5rem;
   
  }
}
