//HEADER SECTION
.header {
  &__logo {
    width: 40%;

    @media only screen and (min-width: $bp-large) {
      width: 15%;
    }
  }
}

//HERO SECTION
.section__hero {
  &-image {
    width: 100%;
    margin: 0 auto;
    padding: 6rem 0;
  }
}

//CTA SECTION

.section-cta {
  text-align: center;

  @media only screen and (min-width: $bp-large) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 0 6rem;
  }
}

//FOOTER SECTION

.footer {
  &__icon-list {
    display: flex;
    justify-content: center;

    margin: 5rem 0;

    @media only screen and (min-width: $bp-large) {
      justify-content: flex-end;
      margin: 0 6rem;
    }
  }

  &__items {
    list-style-type: none;
    margin-top: 3rem;
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }

  &__link,
  &:link,
  &:visited {
    text-decoration: none;
    color: white;
  }
}
