*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 87.5%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
  background-image: url("../images/bg-mobile.svg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #674baf;
}

@media only screen and (min-width: 90em) {
  body {
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
    height: 100vh;
  }
}

.heading-primary {
  text-align: center;
}

@media only screen and (min-width: 90em) {
  .heading-primary {
    text-align: initial;
  }
}

.heading-primary--main {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 3rem;
}

.heading-primary--sub {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
}

.btn {
  display: inline-block;
  color: #674baf;
  padding: 1rem 9rem;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
  margin-top: 3rem;
  cursor: pointer;
}

@media only screen and (min-width: 90em) {
  .btn {
    padding: 1.3rem 5rem;
  }
}

.btn:link, .btn:visited {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #e882e8;
  color: #fff;
}

.fab {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1.5px solid white;
  padding: 1rem 1rem;
}

.fab:hover {
  border: 1.5px solid #e882e8;
  color: #e882e8;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media only screen and (min-width: 90em) {
  .main-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-bottom: -10rem;
  }
}

.header__logo {
  width: 40%;
}

@media only screen and (min-width: 90em) {
  .header__logo {
    width: 15%;
  }
}

.section__hero-image {
  width: 100%;
  margin: 0 auto;
  padding: 6rem 0;
}

.section-cta {
  text-align: center;
}

@media only screen and (min-width: 90em) {
  .section-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 6rem;
  }
}

.footer__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 0;
}

@media only screen and (min-width: 90em) {
  .footer__icon-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 6rem;
  }
}

.footer__items {
  list-style-type: none;
  margin-top: 3rem;
}

.footer__items:not(:last-of-type) {
  margin-right: 2rem;
}

.footer__link, .footer:link, .footer:visited {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=main.css.map */